:root {
  --green: hsla(154, 25%, 30%, 1);
  --green-accent: hsla(154, 7%, 48%, 1);
  --light-green: hsla(154, 25%, 30%, 0.7);
  --placeholder: hsla(0, 0%, 7%, 0.5);
  --black: hsla(0, 0%, 7%, 1);
  --white: hsla(0, 0%, 100%, 1);
  --light-gray: hsl(120, 8%, 97%);
}

html {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.button {
  background-color: var(--green);
  color: var(--white);
  font-weight: 400;
  font-size: 1.125rem;
  padding: 0.6rem 4rem;

  &.search {
    padding: 0.65rem 0.8rem;
  }
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 1.4rem 4rem;

  @media screen and (min-width: 1080px) {
    flex-wrap: nowrap;
  }

  .navigation__wrapper {
    display: flex;
    gap: 7rem;
    align-items: center;
    width: 100%;

    img {
      width: 34px;
      aspect-ratio: 1;
    }

    @media screen and (max-width: 700px) {
      gap: 1rem;
      flex-direction: column;
    }

    .navigation__menu {
      display: flex;
      gap: 2rem;
      align-items: center;
      flex-wrap: wrap;

      @media screen and (min-width: 1080px) {
        flex-wrap: nowrap;
      }

      .menu__item {
        position: relative;

        &:hover a,
        &:focus-within a {
          color: var(--green);
        }
        &:hover button,
        &:focus-within button {
          color: var(--green);
        }

        &:not(&:nth-of-type(1))::before {
          content: "|";
          position: absolute;
          top: 50%;
          left: -1rem;
          transform: translateY(-50%);
          color: var(--black);
        }
        a {
          text-decoration: none;
          color: var(--black);
          font-size: 18px;
        }
        button {
          position: relative;
          font-family: inherit;
          font-size: 18px;
          background: transparent;
          border: none;
          cursor: pointer;

          .chevron {
            position: absolute;
            top: 50%;
            right: -20px;
            display: inline-block;
            transform: rotate(90deg) translate(-100%);
          }
        }
      }
    }
  }
  .searchbar {
    width: 100%;

    .wrapper {
      display: flex;
      width: 100%;
      justify-content: flex-end;

      @media screen and (max-width: 1080px) {
        margin-top: 2rem;
        justify-content: center;
      }

      input {
        width: 50%;
        padding: 0.7rem;
        font-size: 18px;
        border: 2px solid var(--green);

        &::placeholder {
          font-family: inherit;
          font-size: 18px;
          color: var(--light-green);
        }
      }

      button {
        border: none;
        img {
          width: 1.2rem;
          aspect-ratio: 1;
        }
      }
    }
  }
}

.hero {
  display: flex;
  justify-content: space-between;
  background-color: var(--light-gray);
  padding: 1.5rem 4rem 3rem;
  color: var(--green);

  @media screen and (max-width: 1080px) {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .content__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media screen and (max-width: 1080px) {
      text-align: center;
    }

    .title {
      font-weight: 700;
      font-size: 3rem;
      margin-bottom: 2.125rem;
    }

    .subtitle {
      font-weight: 500;
      font-size: 1.5rem;
      margin-bottom: 0.825rem;
    }

    .content {
      max-width: 57ch;
      font-weight: 400;
      font-size: 0.9rem;
      text-align: left;
      line-height: 21px;
      margin-bottom: 2.125rem;
      @media screen and (max-width: 1080px) {
        text-align: center;
      }
    }

    a {
      width: fit-content;
      text-decoration: none;
      @media screen and (max-width: 1080px) {
        align-self: center;
      }
    }
  }
  img {
    max-width: 650px;
    width: 100%;
    aspect-ratio: 1;
  }
}

.cards {
  display: flex;
  justify-content: space-between;
  gap: 1.125rem;
  padding: 5rem 4rem;
  @media screen and (max-width: 1080px) {
    flex-direction: column;
    padding-inline: 2rem;
  }

  .card {
    display: flex;
    background-color: var(--green);
    padding: 1.5rem;
    gap: 1.125rem;
    color: var(--white);

    img {
      width: 180px;
      aspect-ratio: 16/9;
    }

    @media screen and (max-width: 1080px) {
      flex-direction: column;
    }

    .card__title {
      font-weight: 700;
      font-size: 1.125rem;
      margin-bottom: 0.875rem;
    }
    .card__content {
      font-weight: 400;
      font-size: 0.875rem;
      line-height: 21px;
      margin-bottom: 1.25rem;
    }

    a {
      color: var(--white);
    }
  }
}

.contact {
  background-color: var(--green-accent);
  padding: 5rem 4rem;
  @media screen and (max-width: 1080px) {
    padding-inline: 2rem;
  }

  .button {
    border: none;
    width: fit-content;
    padding: 1rem 3rem;
    align-self: flex-end;
  }

  .contact__wrapper {
    display: flex;
    width: 100%;
    background-color: var(--white);
    border-radius: 12px;
    @media screen and (max-width: 768px) {
      flex-direction: column;
    }

    .contact__info {
      display: flex;
      width: 35%;
      justify-content: space-between;
      flex-direction: column;
      padding: 2.5rem;
      background-image: url("./public/formImage.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 12px;

      @media screen and (max-width: 768px) {
        width: 100%;
        background-size: cover;
        background-position: bottom;
      }

      .contact__title {
        font-weight: 700;
        color: var(--black);
        font-size: 3rem;
        margin-bottom: 1.5rem;
      }

      .contact__content {
        max-width: 38ch;
        font-weight: 400;
        font-size: 0.875rem;
        line-height: 21px;
        margin-bottom: 3.5rem;
      }

      .contact__address {
        display: flex;
        flex-direction: column;
        gap: 1.125rem;

        @media screen and (max-width: 768px) {
          margin-bottom: 10rem;
        }

        .contact__address__item {
          display: flex;
          align-items: center;
          gap: 1.5rem;

          img {
            width: 24px;
            aspect-ratio: 1;
          }

          a {
            text-decoration: none;
            color: var(--black);

            &:hover,
            &:focus-within {
              color: var(--green);
            }
          }
        }
      }
      .contact__socials {
        display: flex;
        gap: 2.125rem;
        justify-self: flex-end;

        img {
          width: 2rem;
          aspect-ratio: 1;
        }
      }
    }

    .contact__form {
      display: flex;
      flex-direction: column;
      width: 65%;
      padding: 3rem 1rem;

      @media screen and (max-width: 768px) {
        width: 100%;
      }

      .inputs__container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1.125rem;
        row-gap: 1.5rem;

        @media screen and (max-width: 1080px) {
          grid-template-columns: repeat(1, 1fr);
        }

        .input__wrapper {
          display: flex;
          flex-direction: column;

          .form__label {
            font-weight: 400;
            font-size: 0.875rem;

            .required {
              color: red;
              margin-right: 0.25rem;
            }
          }

          .input__phone {
            position: relative;
            display: flex;
            gap: 0.5rem;
            margin-top: 1rem;
            width: 100%;

            span {
              position: absolute;
              top: 50%;
              left: 2%;
              transform: translateY(-50%);
              font-size: 14px;
              font-weight: 400;

              .chevron {
                position: absolute;
                top: 50%;
                left: 2.2rem;
                display: inline-block;
                transform: rotate(90deg) translateX(-80%);

                &::after {
                  position: absolute;
                  content: "|";
                  transform: rotate(90deg) translateY(40%);
                  bottom: 100%;
                }
              }
            }

            input {
              width: 100%;
              padding-left: 5rem;
              margin-top: 0;
            }
          }

          .form__input {
            border: 1px solid var(--green);
            border-radius: 3px;
            padding: 0.7rem;
            margin-top: 1rem;

            &:focus-within {
              outline: 1px solid var(--green);
            }
            &::placeholder {
              font-family: inherit;
              font-size: 14px;
              color: var(--placeholder);
            }
          }
        }
      }

      .radios__container {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        gap: 2.25rem;
        margin-top: 1.25rem;
        label {
          display: flex;
          gap: 0.5rem;

          input[type="radio"] {
            -webkit-appearance: none;
            appearance: none;
            background-color: #fff;
            margin: 0;
            font: inherit;
            color: currentColor;
            width: 1.15em;
            height: 1.15em;
            border: 0.15em solid currentColor;
            border-radius: 50%;
            display: grid;
            place-content: center;
            transform: translateY(-0.075em);
          }
          input[type="radio"]::before {
            content: "";
            width: 0.65em;
            height: 0.65em;
            border-radius: 50%;
            transform: scale(0);
            transition: 120ms transform ease-in-out;
            box-shadow: inset 1em 1em var(--green);
          }
          input[type="radio"]:checked::before {
            transform: scale(1);
          }
          input[type="radio"]:focus {
            outline: max(1px, 0.1em) solid var(--green-accent);
            outline-offset: max(1px, 0.1em);
          }
        }
      }

      .textarea {
        display: flex;
        flex-direction: column;
        margin-block: 3rem;

        textarea {
          border: 2px solid var(--green);
          padding: 0.7rem;
          margin-top: 1rem;
          resize: none;

          &::placeholder {
            font-family: "Outfit", sans-serif;
            font-size: 14px;
            color: var(--placeholder);
          }
        }
      }
      .terms__wrapper {
        display: flex;
        gap: 3rem;
        margin-bottom: 3rem;

        label {
          display: grid;
          grid-template-columns: 1em auto;
          gap: 0.5em;

          input[type="checkbox"] {
            -webkit-appearance: none;
            appearance: none;
            background-color: var(--white);
            margin: 0;
            font: inherit;
            color: currentColor;
            width: 1.15em;
            height: 1.15em;
            border: 0.15em solid var(--green-accent);
            border-radius: 0.15em;
            transform: translateY(-0.075em);
            display: grid;
            place-content: center;
          }

          input[type="checkbox"]::before {
            content: "";
            width: 0.65em;
            height: 0.65em;
            transform: scale(0);
            transition: 120ms transform ease-in-out;
            box-shadow: inset 1em 1em var(--white);
            transform-origin: bottom left;
            clip-path: polygon(
              14% 44%,
              0 65%,
              50% 100%,
              100% 16%,
              80% 0%,
              43% 62%
            );
          }
          input[type="checkbox"]:checked {
            background-color: var(--green);
            border: 0.15em solid var(--green§);
          }
          input[type="checkbox"]:checked::before {
            transform: scale(1);
          }
          input[type="checkbox"]:focus {
            outline: max(1px, 0.1em) solid var(--green-accent);
            outline-offset: max(1px, 0.1em);
          }
        }
      }
    }
  }
}

footer {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 4rem 0;

  .footer__content {
    display: flex;
    padding-bottom: 1.5rem;
    justify-content: space-between;
    @media screen and (max-width: 1080px) {
      flex-wrap: wrap;
      gap: 4rem;
      justify-content: center;
    }
    @media screen and (max-width: 768px) {
      flex-wrap: nowrap;
      flex-direction: column;
      align-items: center;
    }

    .footer__info {
      h2 {
        font-weight: 700;
        font-size: 3rem;
        color: var(--black);
        margin-bottom: 1rem;
      }
      p {
        font-weight: 400;
        font-size: 18px;
        color: var(--black);
        margin-bottom: 2rem;
      }
      form {
        width: 100%;
        display: flex;
        gap: 2rem;

        @media screen and (max-width: 768px) {
          flex-wrap: wrap;
        }
        input {
          border: none;
          width: 100%;
          border-bottom: 1px solid var(--black);
          padding-block: 0.8rem;
          &::placeholder {
            font-family: inherit;
            font-size: 14px;
            color: var(--placeholder);
          }
        }
        .button {
          padding-block: 1rem;
          border: none;
        }
      }
    }

    .links {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      a {
        text-decoration: none;
        color: var(--black);
        font-size: 18px;
      }
    }
  }
  .address {
    p {
      font-weight: 400;
      font-size: 18px;
      margin-bottom: 1rem;
    }
    ul {
      display: flex;
      gap: 1rem;
      flex-direction: column;
      margin-bottom: 2.5rem;

      &:last-child {
        border-bottom: 1px solid var(--green);
      }
      a {
        text-decoration: none;
        color: var(--green);
        font-size: 18px;
      }
    }

    .icons {
      display: flex;
      align-items: center;
      gap: 2.25rem;

      img {
        width: 50px;
        aspect-ratio: 5/3;
      }

      @media screen and (max-width: 768px) {
        justify-content: center;
      }
    }
  }

  .credits {
    padding: 1.5rem 4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-top: 1px solid var(--light-gray);

    @media screen and (max-width: 1080px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (max-width: 768px) {
      padding-inline: 0;
      grid-template-columns: repeat(1, 1fr);
      gap: 1.5rem;
    }

    p {
      font-size: 14px;
      font-weight: 400;
      color: var(--black);
      grid-column-start: 2;
      margin-inline: auto;

      @media screen and (max-width: 1080px) {
        grid-column-start: 1;
      }
    }

    .credits__links {
      display: flex;
      gap: 1rem;
      justify-content: flex-end;
      @media screen and (max-width: 1080px) {
        grid-column-start: 2;
      }

      @media screen and (max-width: 768px) {
        justify-content: center;
      }

      a {
        text-decoration: none;
        font-weight: 400;
        font-size: 14px;
        color: var(--green);
      }
    }
  }
}
