@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

:root {
  --green: hsla(154, 25%, 30%, 1);
  --light-green: hsla(154, 25%, 30%, 0.7);
  --placeholder: hsla(0, 0%, 7%, 0.5);
  --black: hsla(0, 0%, 7%, 1);
  --white: hsla(0, 0%, 100%, 1);
}

html {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
